.gitignore
.vscode/settings.json
OWLSharp/bin/Debug/OWLSharp.3.6.2.nupkg
OWLSharp/bin/Debug/OWLSharp.3.6.2.snupkg
OWLSharp/bin/Debug/netstandard2.0/OWLSharp.deps.json
OWLSharp/bin/Debug/netstandard2.0/OWLSharp.dll
OWLSharp/bin/Debug/netstandard2.0/OWLSharp.pdb
OWLSharp/bin/Debug/netstandard2.0/OWLSharp.xml
OWLSharp/obj/OWLSharp.csproj.nuget.dgspec.json
OWLSharp/obj/OWLSharp.csproj.nuget.g.props
OWLSharp/obj/OWLSharp.csproj.nuget.g.targets
OWLSharp/obj/project.assets.json
OWLSharp/obj/project.nuget.cache
OWLSharp/obj/Debug/OWLSharp.3.6.2.nuspec
OWLSharp/obj/Debug/OWLSharp.3.6.2.symbols.nuspec
OWLSharp/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.AssemblyInfo.cs
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.AssemblyInfoInputs.cache
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.assets.cache
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.csproj.AssemblyReference.cache
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.csproj.CoreCompileInputs.cache
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.csproj.FileListAbsolute.txt
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.dll
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.GeneratedMSBuildEditorConfig.editorconfig
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.pdb
OWLSharp/obj/Debug/netstandard2.0/OWLSharp.sourcelink.json
OWLSharp.Test/obj/OWLSharp.Test.csproj.nuget.dgspec.json
OWLSharp.Test/obj/OWLSharp.Test.csproj.nuget.g.props
OWLSharp.Test/obj/OWLSharp.Test.csproj.nuget.g.targets
OWLSharp.Test/obj/project.assets.json
OWLSharp.Test/obj/project.nuget.cache
OWLSharp.Test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.AssemblyInfoInputs.cache
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.assets.cache
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.csproj.AssemblyReference.cache
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.csproj.CopyComplete
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.csproj.CoreCompileInputs.cache
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.csproj.FileListAbsolute.txt
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.dll
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.GeneratedMSBuildEditorConfig.editorconfig
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.genruntimeconfig.cache
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.pdb
OWLSharp.Test/obj/Debug/net6.0/ref/OWLSharp.Test.dll
OWLSharp.Test/obj/Debug/net6.0/refint/OWLSharp.Test.dll
OWLSharp.Test/bin/Debug/net6.0/CoverletSourceRootsMapping_OWLSharp.Test
OWLSharp.Test/bin/Debug/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
OWLSharp.Test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
OWLSharp.Test/bin/Debug/net6.0/NetTopologySuite.dll
OWLSharp.Test/bin/Debug/net6.0/Newtonsoft.Json.dll
OWLSharp.Test/bin/Debug/net6.0/NuGet.Frameworks.dll
OWLSharp.Test/bin/Debug/net6.0/OWLSharp.dll
OWLSharp.Test/bin/Debug/net6.0/OWLSharp.pdb
OWLSharp.Test/bin/Debug/net6.0/OWLSharp.Test.deps.json
OWLSharp.Test/bin/Debug/net6.0/OWLSharp.Test.dll
OWLSharp.Test/bin/Debug/net6.0/OWLSharp.Test.pdb
OWLSharp.Test/bin/Debug/net6.0/OWLSharp.Test.runtimeconfig.json
OWLSharp.Test/bin/Debug/net6.0/OWLSharp.xml
OWLSharp.Test/bin/Debug/net6.0/ProjNET.dll
OWLSharp.Test/bin/Debug/net6.0/RDFSharp.dll
OWLSharp.Test/bin/Debug/net6.0/testhost.dll
OWLSharp.Test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp/bin/Release/OWLSharp.3.6.2.nupkg
OWLSharp/bin/Release/OWLSharp.3.6.2.snupkg
OWLSharp/bin/Release/netstandard2.0/OWLSharp.deps.json
OWLSharp/bin/Release/netstandard2.0/OWLSharp.dll
OWLSharp/bin/Release/netstandard2.0/OWLSharp.pdb
OWLSharp/bin/Release/netstandard2.0/OWLSharp.xml
OWLSharp/obj/Release/OWLSharp.3.6.2.nuspec
OWLSharp/obj/Release/OWLSharp.3.6.2.symbols.nuspec
OWLSharp/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
OWLSharp/obj/Release/netstandard2.0/OWLSharp.AssemblyInfo.cs
OWLSharp/obj/Release/netstandard2.0/OWLSharp.AssemblyInfoInputs.cache
OWLSharp/obj/Release/netstandard2.0/OWLSharp.assets.cache
OWLSharp/obj/Release/netstandard2.0/OWLSharp.csproj.AssemblyReference.cache
OWLSharp/obj/Release/netstandard2.0/OWLSharp.csproj.CoreCompileInputs.cache
OWLSharp/obj/Release/netstandard2.0/OWLSharp.csproj.FileListAbsolute.txt
OWLSharp/obj/Release/netstandard2.0/OWLSharp.dll
OWLSharp/obj/Release/netstandard2.0/OWLSharp.GeneratedMSBuildEditorConfig.editorconfig
OWLSharp/obj/Release/netstandard2.0/OWLSharp.pdb
OWLSharp/obj/Release/netstandard2.0/OWLSharp.sourcelink.json
OWLSharp.Test/bin/Release/net6.0/CoverletSourceRootsMapping_OWLSharp.Test
OWLSharp.Test/bin/Release/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.TestPlatform.Utilities.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
OWLSharp.Test/bin/Release/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
OWLSharp.Test/bin/Release/net6.0/NetTopologySuite.dll
OWLSharp.Test/bin/Release/net6.0/Newtonsoft.Json.dll
OWLSharp.Test/bin/Release/net6.0/NuGet.Frameworks.dll
OWLSharp.Test/bin/Release/net6.0/OWLSharp.dll
OWLSharp.Test/bin/Release/net6.0/OWLSharp.pdb
OWLSharp.Test/bin/Release/net6.0/OWLSharp.Test.deps.json
OWLSharp.Test/bin/Release/net6.0/OWLSharp.Test.dll
OWLSharp.Test/bin/Release/net6.0/OWLSharp.Test.pdb
OWLSharp.Test/bin/Release/net6.0/OWLSharp.Test.runtimeconfig.json
OWLSharp.Test/bin/Release/net6.0/OWLSharp.xml
OWLSharp.Test/bin/Release/net6.0/ProjNET.dll
OWLSharp.Test/bin/Release/net6.0/RDFSharp.dll
OWLSharp.Test/bin/Release/net6.0/testhost.dll
OWLSharp.Test/bin/Release/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
OWLSharp.Test/bin/Release/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
OWLSharp.Test/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.AssemblyInfo.cs
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.AssemblyInfoInputs.cache
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.assets.cache
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.csproj.AssemblyReference.cache
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.csproj.CopyComplete
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.csproj.CoreCompileInputs.cache
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.csproj.FileListAbsolute.txt
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.dll
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.GeneratedMSBuildEditorConfig.editorconfig
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.genruntimeconfig.cache
OWLSharp.Test/obj/Release/net6.0/OWLSharp.Test.pdb
OWLSharp.Test/obj/Release/net6.0/ref/OWLSharp.Test.dll
OWLSharp.Test/obj/Release/net6.0/refint/OWLSharp.Test.dll
OWLSharp/bin/Debug/OWLSharp.3.7.0.nupkg
OWLSharp/bin/Debug/OWLSharp.3.7.0.snupkg
OWLSharp/obj/Debug/OWLSharp.3.7.0.nuspec
OWLSharp/obj/Debug/OWLSharp.3.7.0.symbols.nuspec
OWLSharp/obj/Release/OWLSharp.3.7.0.symbols.nuspec
OWLSharp/bin/Release/OWLSharp.3.7.0.nupkg
OWLSharp/bin/Release/OWLSharp.3.7.0.snupkg
OWLSharp/obj/Release/OWLSharp.3.7.0.nuspec
OWLSharp.Test/obj/Debug/net6.0/OWLSharp.Test.AssemblyInfo.cs
